{% load widget_tweaks %}
<form aria-label="create-contact-form"
      hx-post="{% url 'web:create_contact' %}"
      hx-target="#body"
      hx-push-url="true">
    {% csrf_token %}
    <fieldset class="fieldset">
        {% for field in form %}
            <legend class="fieldset-legend" for="{{ field.id_for_label }}">{{ field.label_tag }}</legend>
            {% if field == form.address %}
                {% render_field field class="textarea w-full" %}
            {% else %}
                {% render_field field class="input input-md w-full" %}
                {% if field.help_text %}<p class="fieldset-label">{{ field.help_text }}</p>{% endif %}
            {% endif %}
            {% if field.errors %}
                <div role="alert"
                     aria-label="form-alert"
                     class="alert alert-error alert-soft">{{ field.errors }}</div>
            {% endif %}
        {% endfor %}
    </fieldset>
    <div class="card-actions mt-4 justify-end">
        <button class="btn btn-primary min-w-32" type="submit">Submit</button>
        <button hx-get="{% url 'web:index' %}"
                hx-target="#body"
                hx-push-url="true"
                class="btn btn-outline min-w-32">Cancel</button>
    </div>
</form>
